<div class="row">
  <div class="col-sm-3"></div>
  <div class="col-sm-6">
    <div class="input-group mt-3">
      <div class="input-group-prepend">
        <span class="input-group-text demo-component-input-lbl"
          style="border-radius: 10px 0 0 10px;">{{inputLabel|titlecase}}:</span>
      </div>
      <input [type]="inputType" id="username" class="form-control demo-component-input"
        style="border-radius: 0 10px 10px 0;" autocomplete="off">
    </div>
  </div>
  <div class="col-sm-3"></div>
</div>