<div class="spacer"></div>
<div class="container">

  <div class="row mt-3">
    <div class="col-sm-3"></div>
    <div class="col-sm-6">

      <div class="input-group">
        <div class="input-group-prepend">
          <span class="input-group-text demo-component-input-lbl" style="border-radius: 10px 0 0 10px;">Member</span>
        </div>
        <input type="text" id="member" class="form-control demo-component-input" style="border-radius: 0 10px 10px 0;"
          autocomplete="off" #m>
      </div>

    </div>
    <div class="col-sm-3"></div>
  </div>

  <div class="row mt-3">
    <div class="col-sm-9">
    </div>
    <div class="col-sm-3">
      <button type="button" class="btn btn-outline-success">Add</button>
    </div>
  </div>

  <div class="row mt-3">
    <div class="col-sm-3"></div>
    <div class="col-sm-6">

      <!-- Add code here -->

    </div>
    <div class="col-sm-3"></div>
  </div>



</div>