* {
  font-size: 1.5rem;
}

.spacer {
  height: 300px;
}

.demo-component-input-lbl {
  border: 1px solid rgb(8, 25, 119);
  background-color: rgb(226, 43, 119);
  color: white;
}

.demo-component-input {
  border: 1px solid rgb(226, 43, 119);

}